@using Endorphins.Models

@inject AssetsService AssetsService;
@inject InkStoryService InkStoryService;
@inject PdfService PdfService;
@inject EditorService EditorService;
@inject FileStorageService StorageService;

<div class="asset-panel">
    <MudToolBar Class="justify-space-between" Dense>
        <MudText>Project</MudText>
        <MudIconButton
            Icon="@Icons.Material.Sharp.FolderOpen"
            Variant="Variant.Text"
            Color="Color.Inherit"
            Size="Size.Small"
            HtmlTag="label"
            for="folderInput"
            OnClick="OpenProject"
        />
    </MudToolBar>
    <MudDivider></MudDivider>
    <MudTreeView T="string" Dense AutoExpand>
        <MudTreeViewItem Value='"scripts"' Class="mt-2">
            @foreach (var inkScript in StorageService.FilterBy([".ink"]))
            {
                <MudTreeViewItem Text="@inkScript" Value="@inkScript" OnClick="() => SelectInkScript(inkScript)"/>
            }
        </MudTreeViewItem>             
        <MudTreeViewItem Value='"notes"'>
            @foreach (var markdownFile in StorageService.FilterBy([".md"]))
            {
                <MudTreeViewItem Text="@markdownFile" Value="@markdownFile" OnClick="() => SelectMarkdown(markdownFile)"/>
            }
        </MudTreeViewItem>        
        <MudTreeViewItem Value='"images"'>
            @foreach (var imageFile in StorageService.FilterBy([".png", ".jpg", ".jpeg", ".gif"]))
            {
                <MudTreeViewItem Text="@imageFile" Value="@imageFile" OnClick="() => Preview(imageFile)"/>
            }
        </MudTreeViewItem>        
        <MudTreeViewItem Value='"books"'>
            @foreach (var pdfFile in StorageService.FilterBy([".pdf"]))
            {
                <MudTreeViewItem Text="@pdfFile" Value="@pdfFile" OnClick="() => OpenPdf(pdfFile)"/>
            }
        </MudTreeViewItem>
        <MudTreeViewItem Value='"audio"'>
            @foreach (var audioFile in StorageService.FilterBy([".mp3", ".wav"]))
            {
                <MudTreeViewItem Text="@audioFile" Value="@audioFile" OnClick="() => Preview(audioFile)"/>
            }
        </MudTreeViewItem>            
        <MudTreeViewItem Value='"video"'>
            @foreach (var videoFile in StorageService.FilterBy([".mp4", ".mkv", ".webm"]))
            {
                <MudTreeViewItem Text="@videoFile" Value="@videoFile" OnClick="() => PlayVideo(videoFile)"/>
            }
        </MudTreeViewItem>    
    </MudTreeView>

    @if (_isPreviewPanelActive)
    {
        <MudCard Outlined>
            <MudCardHeader>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default"
                                   OnClick="() => _isPreviewPanelActive = false"/>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                @switch (_selectedContentType)
                {
                    case "png":
                    case "jpeg":
                    case "gif":
                        <MudImage Src="@_selectedFile"/>
                        break;
                    case "mpeg":
                        <audio controls autoplay src="@_selectedFile"></audio>
                        break;
                    default:
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" NoIcon="true" Class="my-2">
                            Failed to load content of type @_selectedContentType"
                        </MudAlert>
                        break;
                }
            </MudCardContent>
        </MudCard>
    }
</div>

@code {
    private string? _selectedFile;
    private string? _selectedContentType;
    private bool _isPreviewPanelActive;
    
    private async Task OpenProject()
    {
        await StorageService.PickProjectFolderAsync();
        await StorageService.SetFilePathsAsync();
    }
    
    private async Task OpenPdf(string filePath)
    {
        try
        {
            var content = await StorageService.ReadFileAsBytesAsync(filePath);
            var pdfFile = new PdfFile
            {
                Name = filePath,
                Content = content
            };
            PdfService.SelectPdfFile(pdfFile);
            PdfService.PdfFileSelected?.Invoke(pdfFile);
        }
        catch (Exception exc)
        {
            Console.Error.WriteLine(exc);
        }
    }    
    
    private async void PlayVideo(string filePath)
    {
        try
        {
            AssetsService.VideoSelected?.Invoke(filePath);
        }
        catch (Exception exc)
        {
            Console.Error.WriteLine(exc);
        }
    }
    
    private async void SelectMarkdown(string filePath)
    {
        try
        {
            var contents = await StorageService.ReadFileAsTextAsync(filePath);
            AssetsService.MarkdownFileSelected?.Invoke(contents);
        }
        catch (Exception exc)
        {
            Console.Error.WriteLine(exc);
        }

        EditorService.SetEditor(EditorType.Markdown);
        StateHasChanged();
    }    
    
    private async void SelectInkScript(string filePath)
    {
        try
        {
            var fileContents = await StorageService.ReadFileAsTextAsync(filePath);
            InkStoryService.InkScriptSelected?.Invoke(fileContents);
        }
        catch (Exception exc)
        {
            Console.Error.WriteLine(exc);
        }

        EditorService.SetEditor(EditorType.Ink);
        StateHasChanged();
    }
    
    private void Preview(string filePath)
    {
        _selectedFile = filePath;
        _selectedContentType = filePath.Split('.').Last();
        _isPreviewPanelActive = true;
        Console.WriteLine($"Previewing {_selectedFile} of {_selectedContentType}");
    }

}

