@using Endorphins.Models
@using Ink.Runtime
@inject InkStoryService StoryService;
@inherits DevHotReloadComponentBase;
@implements IDisposable;

<div style="background-color: #1A1A1A;height: 100%; max-height: calc(100vh - 120px);"
     class="ink-story-runner overflow-auto overflow-scroll">
    @if (_dialogLines != null)
    {
        foreach (var line in _dialogLines)
        {
            if (@line.IsMainCharacter)
            {
                <div style="color: white; margin-left: 1rem; display: flex; gap: 1rem; justify-content: left; align-items: center; padding: 1rem; text-align: left;"
                     class="dialog-line mb-6">
                    <img srcset="Assets/endorphins-icon.svg" alt="logo" width="36px" height="36px" />
                    <div style="display: flex; flex-direction: row; gap: 0.5rem;">
                        <MudText Style="font-size: 13px; font-weight: 500; text-transform: uppercase; color: orange;">@line.Speaker</MudText>
                        <MudText Style="font-size: 20px;">@line.Line</MudText>
                    </div>
                </div>
            }
            else
            {
                <div style="color: white; margin-right: 1rem; display: flex; gap: 1rem; justify-content: right; align-items: center; padding: 1rem; text-align: right;"
                     class="dialog-line mb-6">
                    <div style="display: flex; flex-direction: column; gap: 0.5rem;">
                        <MudText Style="font-size: 13px; font-weight: 500; text-transform: uppercase; color: orange;">@line.Speaker</MudText>
                        <MudText Style="font-size: 20px;">@line.Line</MudText>
                    </div>
                    <img srcset="Assets/endorphins-icon.svg" alt="logo" width="40px" height="40px" style="border: thin green solid; border-radius: 4px; padding: 4px;" />
                </div>
            }


        }
    }
    @if (_choices != null)
    {
        <MudPaper>
            <MudList T="string">
                @foreach (var choice in _choices)
                {
                    <MudListItem Text="@choice.text" OnClick="() => StoryService.MakeChoice(choice.index)" />
                }
            </MudList>
        </MudPaper>
    }
</div>

@code {
    private List<Choice>? _choices = [];
    private readonly List<DialogLine>? _dialogLines = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        StoryService.ChoicesAdded += OnChoicesAdded;
        StoryService.DialogUpdated += OnDialogUpdated;
        StoryService.StoryReset += OnStoryReset;
        StoryService.ChoicesReset += OnChoicesReset;
    }

    private void OnDialogUpdated(DialogLine dialogLine)
    {
        _dialogLines?.Add(dialogLine);
        StateHasChanged();
    }

    private void OnChoicesAdded(List<Choice> choices)
    {
        _choices = choices;
        StateHasChanged();
    }

    private void OnStoryReset()
    {
        _dialogLines?.Clear();
        _choices?.Clear();
        StateHasChanged();
    }

    private void OnChoicesReset()
    {
        _choices?.Clear();
        StateHasChanged();
    }

    public void Dispose()
    {
        StoryService.ChoicesAdded -= OnChoicesAdded;
        StoryService.DialogUpdated -= OnDialogUpdated;
        StoryService.StoryReset -= OnStoryReset;
        StoryService.ChoicesReset -= OnChoicesReset;
    }
}

